base.css
/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://coolors.co/2191fb-72705b-48e5c2-03191e-8cdedc'); */

/*This sets colors and fonts for all pages with this css applied,
    to change any font or color cimply update the root and all pages will update.
   
    How to use ex. eolor: var(--primary-color);*/
:root {
    --primary-color: #2191fb;
    --secondary-color:#72705b;
    --accent1-color: #48e5c2;
    --accent2-color: #03191e;
    --accent3-color: #8cdedc;
 
    --heading-font: "roboto", sans-serif;
    --paragraph-font: "source sans 3", sans-serif;
}
 
*,*:before,*:after {
    box-sizing: border-box;
}
body{
    display: grid;
}

h1, h2, h3{
    text-align: center;
    font-family: Roboto, sans-serif;
}

p{
    text-align: center;
}

main{
    text-align: center;
}

footer{
    text-align: center;
}
img{
    height: 45px;
}
/* Hamburger Menu */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--primary-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
}
 
#menu::before {
    content: "☰";
    color: var(--accent3-color);
}
 
#menu.open::before {
    content: "X";
    color: var(--accent3-color);
}
 
.navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}
 
.navigation ul {
    list-style: none;
}
 
.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: larger;
    color: var(--primary-color);
}
 
.navigation a:hover {
    font-weight: 700;
}
 
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}
 
/* wayfinding symbol for the user */
.navigation .active {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 1.5px;
}