@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: roboto;
    background-color: antiquewhite;
    text-align: center;
}
header{
    max-width: 640px;
    text-align: center;
    margin: 1rem auto;
    border: 5px;
    padding: 2em;
    background-color: aquamarine;
}
main{
    max-width: 640px;
    text-align: center;
    margin: 1rem auto;
    border: 45px;
    border-color: black;
    padding: 25px;
    background-color: aquamarine;
}
footer{
    max-width: 640px;
    text-align: center;
    margin: 1rem auto;
    border: 5px;
    padding: 2em;
    background-color: aquamarine;
}