base.css
/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://coolors.co/2191fb-72705b-48e5c2-03191e-8cdedc'); */

/*This sets colors and fonts for all pages with this css applied,
    to change any font or color cimply update the root and all pages will update.
   
    How to use ex. eolor: var(--primary-color);*/
:root {
    --primary-color: #2191fb;
    --secondary-color:#72705b;
    --accent1-color: #48e5c2;
    --accent2-color: #03191e;
    --accent3-color: #8cdedc;
 
    --heading-font: "roboto", sans-serif;
    --paragraph-font: "source sans 3", sans-serif;
}
 
*,*:before,*:after {
    box-sizing: border-box;
}
body{
    display: grid;
    background-color: var(--accent3-color);
    
}

h1, h2, h3{
    text-align: center;
    font-family: Roboto, sans-serif;
}

p{
    text-align: center;
}

main{
    text-align: center;
}

footer{
    text-align: center;
}
img{
    height: 45px;
}

.herobox{
    position: relative;

}
#hero{
    width: 100%;
    padding: 0;
    height: 400px;
    width: 1000px;
    image-rendering: auto;
    border-color: var(--accent2-color);
}
button{
    border-radius: 1.5rem;
    border-color: var(--accent2-color);
}

#opclk{
    text-align: left;
    font-size: 25px;
    
}
#currents{
    text-align: left;
    padding-left: 10px;
    grid-column: 1/2;
    grid-row: 2/3;
}
#spots{
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
    border-color: var(--secondary-color);
    box-sizing: border-box;
    border-width: 5px;
}

#mod{
    padding-bottom: 1.5em;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }