@media screen and (min-width: 500px){

/* Adjustable Overlay */

#medium {
    visibility: visible;
}

#small, #large {
    visibility: hidden;
}
.column{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 35px;
    left: 5px;

}

.mediaventure{
    display: flexbox;
    flex-direction: column;


}

}
