@media screen and (min-width: 500px){

/* Adjustable Overlay */

#medium {
    visibility: visible;
}

#small, #large {
    visibility: hidden;
}

#discover{
    margin-left: 300px;
}

.column > div {
    margin: 1rem; 
}


.column {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2191fb;
    overflow-x: hidden;
    padding-top: 20px;
    color:  black;
    font-family: Poppins;
}



#demo{
    border: 3px solid black;
    border-radius: 15px;
    background-color: #72705b;
}

#stats{
    border: 3px solid black;
    border-radius: 15px;
    background-color: #72705b;
}
#evt {
    border: 3px solid black;
    border-radius: 15px;
    background-color: #72705b;
}

#attrct {
    border: 3px solid black;
    border-radius: 15px;
    background-color: #72705b;
}

picture {
    padding: 1rem;
    object-position: center;

}
 picture img {
    border: 4px solid black;
    border-radius: 1rem;
 }
/*    Join Page    */
.jpage {
    display: grid;
    grid-template-columns: 1fr 1fr;

}


}
